<div class="box-layout box-layout-md">
    <app-header></app-header>
</div>
<!-- contact us body start -->
<section class="section bg-silver">
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        <label class="d-block">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="d-block">Mobile</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="d-block">Email ID</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="d-block">Message</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success d-block mx-auto">Send Query</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6" style="background-image: url(./assets/images/about-author.jpg);"></div>
            </div>
        </form>
    </div>
</section>
<!-- contact us body end -->
<app-footer></app-footer>